<ion-header no-border>
  <ion-toolbar color="main">
      <ion-buttons slot="start">
          <ion-back-button navPush defaultHref="home" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>
        Sports
    </ion-title>
    <ion-buttons slot="end">
            <ion-button id="setting-button" href="/settings">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
              </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-segment color="main" (ionChange)="sortChanged()">
        <ion-segment-button mode="md" value="alphabetical">
            Alphabetical
        </ion-segment-button>
        <ion-segment-button mode="md" value="category">
            Category
        </ion-segment-button>
        <ion-segment-button mode="md" value="favorites">
            Favorites
        </ion-segment-button>
    </ion-segment>
    <ion-list mode="md" detail="false" lines="none">
        <ion-item *ngFor="let sports of sportList; let i = index">
            <ion-button [href]="sports.url" fill="clear">
                <ion-icon slot="start" size="large" [name]="sports.icon" slot="start" ></ion-icon>
                    <ion-text>{{sports.sport}}</ion-text>
            </ion-button>
            <ion-icon #favoriteSport(i) slot="end" [name]="favorited ? 'star-outline' : 'star'" (click)="toggleFavorite(i)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
