<ion-header no-border>
  <ion-toolbar color="main">
      <ion-buttons slot="start">
          <ion-back-button navPush defaultHref="home" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>
        Sports
    </ion-title>
    <ion-buttons slot="end">
            <ion-button href="/settings">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
              </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-segment color="main" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="md" value="alphabetical">
            Alphabetical
        </ion-segment-button>
        <ion-segment-button mode="md" value="category">
            Category
        </ion-segment-button>
        <ion-segment-button mode="md" value="favorites">
            Favorites
        </ion-segment-button>
    </ion-segment>
    <ion-list detail="false" lines="none">
        <ion-item *ngFor="let sports of sportList" [href]="sports.url">
            <ion-icon [name]="sports.icon" slot="start" ></ion-icon>
            {{sports.sport}}
        </ion-item>
    </ion-list>
</ion-content>
