<ion-header no-border>
  <ion-toolbar color="main">
      <ion-buttons slot="start">
          <ion-back-button navPush defaultHref="home" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>
        Map
    </ion-title>
    <ion-buttons slot="end">
        <ion-button href="/settings">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>Map</h3>
</ion-content>
