<ion-header no-border>
  <ion-toolbar color="main">
      <ion-buttons slot="start">
          <ion-back-button navPush defaultHref="home" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>
        Timetable
    </ion-title>
    <ion-buttons slot="end">
        <ion-button href="/favorites">
            <ion-icon slot="icon-only" name="ios-star-outline"></ion-icon>
        </ion-button>
        <ion-button href="/settings">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="move()">
        <ion-slide id="slide-title" *ngFor="let venue of venueList">
            <h2>{{venue.name}}</h2>
        </ion-slide>
    </ion-slides>
    <ion-segment color="main" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="md" *ngFor="let day of dayList">
            {{day.date}}
        </ion-segment-button>
    </ion-segment>
    <ion-slides #slides pager="false" [options]="slideOpts" (ionSlideDidChange)="move()">
        <ion-slide id="slide-content" *ngFor="let venue of venueList">
            <h2>{{venue.content}}</h2>
        </ion-slide>
    </ion-slides>
</ion-content>
