
:root {

  /** general settings**/

  --ion-background-color: #ffffff;
  --ion-font-family: "Montserrat", sans-serif;
  --ion-text-color: #929292;

  /** lighter violet **/

  --ion-color-main: #bca5c1;
  --ion-color-main-contrast: #f4efee;
  --ion-color-main-shade: #a591aa;
  --ion-color-main-tint: #c3aec7;

  /** darker highlight color **/

  --ion-color-hightlight: #7044ff;
  --ion-color-highlight-contrast: #f4efee;
  --ion-color-highlight-shade: #633ce0;
  --ion-color-highlight-tint: #7e57ff;
}

.ion-color-main {
  --ion-color-base: #bca5c1;
  --ion-color-contrast: #f4efee;
  --ion-color-shade: #a591aa;
  --ion-color-tint: #c3aec7;
}
.ion-color-highlight {
  --ion-color-base: #7044ff;
  --ion-color-contrast: #f4efee;
  --ion-color-shade: #633ce0;
  --ion-color-tint: #7e57ff;
}
ion-menu {
  --background:  #bca5c1;
  --width: 100px;
  --width-small: 100px;
}

/** color($colors, primary, base); **/
$colors: (
  primary:   (
    base: #bca5c1,
    contrast: #f4efee
   ) ,
  secondary: (
    base:  #7044ff,
    constrast: #f4efee
  )
);

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Montserrat';
}

