ion-segment {
    padding: 0;
    margin: 0;
}
ion-segment-button {
    height: 45px;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
    border-style: solid;
    border-color:#f4efee;
    --background-activated: #f4efee;
    --background-checked: #f4efee;
    --background-hover: #f4efee;
    --border-color: #f4efee;
    --border-radius: 5px;
    --border-width: 1px;
    --indicator-color: #f4efee;
    --indicator-color-checked: #bca5c1; 
}
ion-content {
    --padding-top: 0;
}
ion-slides { 
    height: initial;
    --bullet-background: #f4efee;
    --bullet-background-active: #f4efee;
}
ion-slide {
    height: 90px;
    background-color: #7044ff;
    color: #f4efee;
    border: none;
}
h2 {
    margin-top: 0;
    font-size: 20px;
}
#slide-content {
    height: inherit;
    background-color: white;
    color: #929292;
}