<ion-header no-border>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SELL Games Lahti 2020
    </ion-title>
    <ion-buttons slot="end">
        <ion-button href="/settings">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true">
    <ion-slide>
        <h2>Slide 1</h2>
    </ion-slide>
    <ion-slide>
      <h2>Slide 2</h2>
    </ion-slide>
    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>
  </ion-slides>
  <ion-segment color="main">
    <ion-segment-button mode="md" *ngFor="let tab of tabs; let i = index" (click)="switchTab(i)">
      {{tab.key}}
    </ion-segment-button>
  </ion-segment>
    <div *ngFor="let tab of tabs">
      <div *ngIf="tab.key === activeTab">
        <ion-text><p>{{tab.content}}</p></ion-text>
      </div>
    </div>
</ion-content>
